.help-block{
    color:red;
}

input{ 
   padding:20px 12px !important;
}

select{
    box-sizing: content-box;
    padding:5px 0 !important;
    font-size: 12px !important;
}

textarea{
    padding:12px !important;
    font-size: 12px !important;
}

.result{
    width:12px;
    height:12px;
    border-radius: 2px;
    display: inline-block;
}